.calibre-donation {
	width: fit-content;
	margin: 25px auto;
	text-align: center;
	position: absolute;
	left: 200px;
	right: 0;
	bottom: 0;
}

.calibre-donation a.paypal {
	display: inline-block;
}

div.workspace-leaf-content[data-type=calibre-view] div.view-content {
	overflow: hidden;
}

div.workspace-leaf-content[data-type=calibre-view] iframe {
	width: 100%;
	height: 100%;
	border: 0;
}